{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Shop</title>
    <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>The Daily Dose of True Crime</h1>
        <a href="{% url 'cart' %}" class="cart-icon">
            🛒 <span class="cart-count">{{ cart_count }}</span>
        </a>
    </header>
    <section id="about-us">
        <h2>About Us</h2>
        <p>When I was a stay at home mom I wanted to find a way to help supplement our income but still spend time with my son. I decided that the best way to do that
            was to find a product I enjoyed and sell it. True crime has always been something I was interested in. After some searching I discovered that 
            there were no daily calendars that featured true crime. I decided to create my own. I have been creating these calendars for for a few years now
            and I am excited to share them with you. I hope you enjoy them as much as I do.
        </p>
    </section>

    <ul>
        {% for product in products %}
        <li class="product">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'shop/images/default.jpg' %}" alt="No Image Available">
            {% endif %}            
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <button class="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
            {% csrf_token %}

        </li>
        {% endfor %}
    </ul>

    <section id="testimonial">
        <h2>What Our Customers Say</h2>
        {% for testimonial in testimonials %}
        <div class="testimonial">
            <p>{{ testimonial.text }} - {{ testimonial.name }}</p>
        </div>
        {% empty %}
        <p>No testimonials yet.</p>
        {% endfor %}
    </section>

    <section id="social-media">
        <h2>Also on Amazon!</h2>
        <ul>
            <li><a href="https://www.amazon.com/Daily-Dose-True-Crime-Events/dp/B0CDB1B4HR/ref=sr_1_2?crid=2Z65CZXV6UVOT&dib=eyJ2IjoiMSJ9.TBtnIdamzJ53f61JM-pC09KWQHMKuTPGq9ro6QrGWEcSSx5keDNgHp9CwVk0JgjPIjoPUBRILAwv1WL0qde67tgwRqgBnn8DQ5Nr61kkiQKUgZc8YmNskNngGdRbgw9l668WKFBZpAfATzDW_qPSoWWIJeWQ8JHxv_zK8hh2xvSEa5YCTMDXI21EF84Pw0HIBedcu1yR0JeFkuC-JhJB4HmvtyNpus3bx2WpljDI8OA.f8RKbyJlCWLSQB2_M6sXkahqJgfJhwHmJ0a3m8ymM1s&dib_tag=se&keywords=true+crime+calendar+2025&qid=1738677865&sprefix=true+crime+calendar%2Caps%2C213&sr=8-2" target="_blank">Click here to view on Amazon</a></li>
        </ul>
    </section>
    <script src="{% static 'shop/js/cart.js' %}"></script>
</body>
</html>
